#headerMenu {
	font-family: "Nunito", sans-serif !important;
	font-weight: 700;
	padding-left: 0;
	padding-right: 6px;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-left: 14px;
	margin-right: 14px;

}
#headerMenu > li {
	font-size: 20px !important;
	letter-spacing: 1.5px;
}
#banner-wrapper-content h1{
	font-family: "Nunito", sans-serif !important;
    font-weight: 800;
	margin-bottom: 18px;
    font-size: 60px;
    color:#221638;
    text-align: left;
}
#banner-wrapper-content p{
    font-size: 17px;
    color:#221638;
}

#wb_introHeading h1{
	font-family: "Nunito", sans-serif !important;
    font-weight: 800;
	margin-bottom: 18px;
    font-size: 40px;
    color:#221638;
    text-align: left;
}
#banner-wrapper-content p{
    font-size: 17px;
    color:#221638;
}
#wb_welcome {
	/*background-image: none !important: */
	background-color: #fefaf3 !important;
}
.btn-aqua{
	color: #fff;
    background-color: #3ea9df;
    border-color: #3ea9df;
}
#servicesCard1-card-body{
	font-family: "Nunito", sans-serif !important;
	background: #ffffff;
    border-radius: 10px;
}
#servicesCard1-card-item1{
    font-size: 25px;
    padding-top: 10px;
}
#servicesCard2-card-item1{
    font-size: 25px;
}
#servicesCard3-card-item1{
    font-size: 25px;
}
#servicesCard1-card-item2{
    font-size: 17px;
}
#servicesCard2-card-item2{
    font-size: 17px;
}
#servicesCard3-card-item2{
    font-size: 17px;
}
#servicesCard2-card-body{
	font-family: "Nunito", sans-serif !important;
	background: #ffffff;
    border-radius: 10px;
}
#servicesCard3-card-body{
	font-family: "Nunito", sans-serif !important;
	background: #ffffff;
    border-radius: 10px;
}
.card-image > img {
  width: 100%;
  max-width: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1.5);
  -moz-transform: translate(-50%, -50%) scale(1.5);
  -o-transform: translate(-50%, -50%) scale(1.5);
  transform: translate(-50%, -50%) scale(1.5);
}
.card-image {
  width: 100%;
  height: 110px;
  position: relative;
  overflow: hidden;
}
#copyright{
  background: #fff;
  border-top: 1px solid #dee2e6;
  color: #869099;
  padding: 1rem;
}